<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>VeritisWebDemos</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>com.veritis.web.servlet.demos.LoginServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>HomeServlet</servlet-name>
  	<servlet-class>com.veritis.web.servlet.demos.HomeServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<description>
  	</description>
  	<display-name>ImageServlet</display-name>
  	<servlet-name>ImageServlet</servlet-name>
  	<servlet-class>com.veritis.web.servlet.demos.ImageServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DbServlet</display-name>
  	<servlet-name>DbServlet</servlet-name>
  	<servlet-class>com.veritis.web.servlet.demos.DbServlet</servlet-class>
  	<init-param>
  		<param-name>driver</param-name>
  		<param-value>com.mysql.jdbc.Driver</param-value>
  	</init-param>
  	<init-param>
  		<description>
  		</description>
  		<param-name>url</param-name>
  		<param-value>jdbc:mysql://localhost:3306/spring</param-value>
  	</init-param>
  	<init-param>
  		<description>
  		</description>
  		<param-name>username</param-name>
  		<param-value>root</param-value>
  	</init-param>
  	<init-param>
  		<description>
  		</description>
  		<param-name>password</param-name>
  		<param-value>root</param-value>
  	</init-param>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>FirstServlet</display-name>
  	<servlet-name>FirstServlet</servlet-name>
  	<servlet-class>com.veritis.web.servlet.demos.FirstServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SecondServlet</display-name>
  	<servlet-name>SecondServlet</servlet-name>
  	<servlet-class>com.veritis.web.servlet.demos.SecondServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ThirdServlet</display-name>
  	<servlet-name>ThirdServlet</servlet-name>
  	<servlet-class>com.veritis.web.servlet.demos.ThirdServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CookieServlet</display-name>
  	<servlet-name>CookieServlet</servlet-name>
  	<servlet-class>com.veritis.web.servlet.demos.CookieServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ShowSession</display-name>
  	<servlet-name>ShowSession</servlet-name>
  	<servlet-class>com.veritis.web.servlet.demos.ShowSession</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>TableServlet</display-name>
  	<servlet-name>TableServlet</servlet-name>
  	<servlet-class>com.veritis.jsp.TableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ImageServlet</servlet-name>
  	<url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DbServlet</servlet-name>
  	<url-pattern>/table</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FirstServlet</servlet-name>
  	<url-pattern>/one</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SecondServlet</servlet-name>
  	<url-pattern>/two</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ThirdServlet</servlet-name>
  	<url-pattern>/three</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>HomeServlet</servlet-name>
  	<url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>CookieServlet</servlet-name>
  	<url-pattern>/CookieServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowSession</servlet-name>
  	<url-pattern>/ShowSession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TableServlet</servlet-name>
  	<url-pattern>/showtable</url-pattern>
  </servlet-mapping>
</web-app>